@import 'foto.jpg';
/* untuk jarak tulisan dan bacgrond gambar */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
/* untuk garis bawah tulisan */
a {
  text-decoration: none;
}
/* untuk membuat gambar jadi full layar */
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* untuk membuat gambar tidak full di pendidikan */
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* untuk tulisan di bagian aboutme */
p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}
/* untuk membuat garis,warna dan jarak di logo portofolio */
.section-title span {
  color: crimson;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;            
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: crimson;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: crimson;
}

/* agar jika di scrol tidak berubah homenya */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
/* untuk membuat warna bayangan pada home dan mendiamkan pada bagian atas */
#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: .3s ease background-color;
}
/* agar tulisan abdul aziz menjadi ke kiri */
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left;
}
/* untuk memberi jarak dan warna pada bagian home, aboutme,pendidikan,contak */
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
/* jika di geser pada bagian huruf di home maka akan berwarna */
#header .nav-list ul li:hover a {
  color: crimson;
}
/* untuk membuat bacgrond */
#hero {
  background-image: url(foto.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
/* agar bacgrond seperti bayangan */
#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1;
}
/* agar tulisan hello,myname,abdul aziz,dan portofolio ke geser di kiri */
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
/* agar yg di sorot merah cuman bagian tulisannya */
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}
/* untuk memberi kesempatan utk menyorot tulisan pada hello */
#hero h1:nth-child(1) {
  animation-delay: 1s;
}

#hero h1:nth-child(2) {
  animation-delay: 2s;
}

#hero h1:nth-child(3) {
  animation: text_reveal_name .5s ease forwards;
  animation-delay: 3s;
}
/* untuk memberi warna yg akan disoror tulisannya */
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  animation-delay: .5s;
}
/* animation-delay adalah memberi waktu untuk menyorot */
#hero h1:nth-child(1) span {
  animation-delay: .5s;
}

#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}
/* untuk memberi jarak pada gambar about */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
/* agar terlihat tulisan di kotaknya */
#about .col-right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

/* untuk memberikan jarak pada pendidikan */
#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
/* untuk membedakan antara versi hp dan pc */
#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
/* untuk bagian bacgrond pendidikan  */
#services .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(foto.jpg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
/* untuk membuat bayangan pada bacgron pendidikan */
#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .9;
  z-index: -1;
}
/* memberikan keleluasaan pada gambar di pendidikan */
#services .service-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
/* membuat tulisan berwarna dan jaraknya */
#services .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* membuat angka di bawah gambar pendidikan berwarna */
#services .service-item p {
  color: white;
  text-align: left;
}

/* contact Section */
/* membuat kotak pada contak lebih leluasa/besar */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

#contact .contact-items {
  width: 400px;
}
/* membuat garis danbayangannya kotak */
#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: .3s ease box-shadow;
}
/* membuat bayangan hilang jika di gerakkan pada kotaknya */
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}

/* membuat tulisan lebih tipis */
#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

/* membuat bacgron pada foother */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
/* untuk jarak pada bacgrond */
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
/* membuat tulisan my folowing social media berwarna */
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* agar logo ig dan fb sama rata/ke tengah tidak naik */
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
/* agar logo terlihat lebih kecil */
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
/* agar jika di geser ke bagian logo maka akan berwarna */
#footer .social-item img {
  filter: grayscale(1);
  transition: .3s ease filter;
}

#footer .social-item:hover img {
  filter: grayscale(0);
}
/* memberi warna pada Copyright */
#footer p {
  color: white;
  font-size: 1.3rem;
}

/* End Footer */

/* agar penyorotan pada hello bergerak */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}

/* End Keyframes */

/* agar terlihat bagian homenya */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  h1.section-title {
    font-size: 6rem;
  }

  /* Hero */
  #hero h1 {
    font-size: 7rem;
  }

  /* End Hero */

  /* Services Section */
  #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }

  /* End Services Section */

  /* About */
  #about .about {
    flex-direction: row;
  }

  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }

 

  #about .col-right h1 {
    text-align: left;
  }

  /* End About */

  /* contact  */
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }

  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }

  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }

  #contact .contact-item .icon {
    height: 100px;
    width: 100px;
  }

  #contact .contact-item .icon img {
    object-fit: contain;
  }

  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  /* End contact  */
}

/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

  /* header */
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul a:after {
    display: none;
  }
}